# /docs/
/lib/
/bin/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
.clarity2/sessions

# Compiled executables
/smlnj/
/crystal/
/hopac/
.crystal_cache
